@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
}

.indexbody {
    background-color: rgb(23, 23, 23);
    color: white;
    margin-bottom: 32px;
}

.indexbody > a {
    background-color: orange;
    color: white;
    width: 100%;
    padding: 2px;
    margin-bottom: 4px;
}

.indexbody > .footer {
    background-color: rgb(63, 63, 63);
    color: white !important;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 2px;
}

.indexbody > iframe {
    width: 90%;
    border: none;
    height: 500px;
}

.indexbody > .footer > a {
    color: white;
}