body {
    background-color: aquamarine;
    text-align: center;
}

.head {
    background-color: violet;
    border: 2px solid purple;
    color: purple;
    padding: 10px;
    border-radius: 8px;
}

.content {
    display: inline-block;
    height: 308px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.content > div {
    padding: 4px;
    width: 300px;
    height: 300px;
    border: 2px solid purple;
    border-radius: 8px;
}

.content_1 {
    background-color: yellow;
    color: black;
    float: left;
}

.content_2 {
    background-color: green;
    color: black;
    float: left;
    margin-right: 6px;
    margin-left: 6px;
}

.content_3 {
    background-color: orangered;
    color: black;
    float: right;
}

.content_3 > div > img {
    margin-top: 6px;
}

.footer {
    padding: 2px;
    clear: both;
    color: white;
    background-color: royalblue;
    border: 2px solid gray;
    border-radius: 8px;
}

.footer > h3,
.head > h2,
.head > h3 {
    margin: 0px;
}